<a href="https://colab.research.google.com/github/Vanessavill/Vanessavill.github.io/blob/main/PROYECTO_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#PROYECTO 2

#####Julian David Beltran Mondragon, Lizeth Daniela Villamil Gil, Vanessa Alexandra Villarreal Castro

In [21]:
!pip install wooldridge
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns 
import wooldridge as wd

Requirement already satisfied: wooldridge in /usr/local/lib/python3.7/dist-packages (0.4.4)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from wooldridge) (1.3.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->wooldridge) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas->wooldridge) (2018.9)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas->wooldridge) (1.21.5)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas->wooldridge) (1.15.0)

In [26]:
x= wd.data('wage1')
x= x[['wage', 'educ']]
x

      wage  educ
0     3.10    11
1     3.24    12
2     3.00    11
3     6.00     8
4     5.30    12
..     ...   ...
521  15.00    16
522   2.27    10
523   4.67    15
524  11.56    16
525   3.50    14

[526 rows x 2 columns]

In [27]:
x.head(53) #Se elige el 10% de los datos totales de la muestra.

         wage  educ
0    3.100000    11
1    3.240000    12
2    3.000000    11
3    6.000000     8
4    5.300000    12
5    8.750000    16
6   11.250000    18
7    5.000000    12
8    3.600000    12
9   18.180000    17
10   6.250000    16
11   8.130000    13
12   8.770000    12
13   5.500000    12
14  22.200001    12
15  17.330000    16
16   7.500000    12
17  10.630000    13
18   3.600000    12
19   4.500000    12
20   6.880000    12
21   8.480000    12
22   6.330000    16
23   0.530000    12
24   6.000000    11
25   9.560000    16
26   7.780000    16
27  12.500000    16
28  12.500000    15
29   3.250000     8
30  13.000000    14
31   4.500000    14
32   9.680000    13
33   5.000000    12
34   4.680000    12
35   4.270000    16
36   6.150000    12
37   3.510000     4
38   3.000000    14
39   6.250000    12
40   7.810000    12
41  10.000000    12
42   4.500000    14
43   4.000000    11
44   6.380000    13
45  13.700000    15
46   1.670000    10
47   2.930000    12
48   3.650000    14
49   2.900000    12
50   1.630000    12
51   8.600000    16
52   5.000000    12

In [36]:
from numpy.ma.core import sqrt
class estadisticas:
  def __init__(self,x): 
    self.x = x
  def mean(self,x):
    return sum(self.x)/len(self.x)
  def var(self,x):
    return (((sum(self.x)-self.x.mean())**2)/len(self.x))
  def std(self,x):
    return sqrt(self.x.var())
  def median(self,x):
    return(x[index-1]+ x[index])/2
  def coef_var (self,x):
    return self.x.std()/self.x.mean()

In [29]:
est = estadisticas(x)

In [30]:
est.coef_var(x)

wage    0.626361
educ    0.220416
dtype: float64

In [31]:
est.x.mean()

wage     5.896103
educ    12.562738
dtype: float64

In [32]:
est.x.var()

wage    13.638884
educ     7.667485
dtype: float64

In [33]:
est.x.std()

wage    3.693086
educ    2.769022
dtype: float64

In [34]:
est.x.median()

wage     4.65
educ    12.00
dtype: float64

In [35]:
x.describe() #ComprobaciÃ³n.

             wage        educ
count  526.000000  526.000000
mean     5.896103   12.562738
std      3.693086    2.769022
min      0.530000    0.000000
25%      3.330000   12.000000
50%      4.650000   12.000000
75%      6.880000   14.000000
max     24.980000   18.000000