<a href="https://colab.research.google.com/github/Vanessavill/Vanessavill.github.io/blob/PROYECTOS-MACHINE-LEARNING/PROYECTO_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#PROYECTO 2

#####Julian David Beltran Mondragon, Lizeth Daniela Villamil Gil, Vanessa Alexandra Villarreal Castro

In [ ]:
!pip install wooldridge
import wooldridge as wd

Collecting wooldridge
  Downloading wooldridge-0.4.4-py3-none-any.whl (5.1 MB)
     |████████████████████████████████| 5.1 MB 13.1 MB/s
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from wooldridge) (1.3.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->wooldridge) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas->wooldridge) (2018.9)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas->wooldridge) (1.21.5)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas->wooldridge) (1.15.0)
Installing collected packages: wooldridge
Successfully installed wooldridge-0.4.4

In [85]:
x= wd.data('wage1')
#x= x[['wage']]
#x

In [100]:
x

      wage  educ  exper  tenure  ...  servocc     lwage  expersq  tenursq
0     3.10    11      2       0  ...        0  1.131402        4        0
1     3.24    12     22       2  ...        1  1.175573      484        4
2     3.00    11      2       0  ...        0  1.098612        4        0
3     6.00     8     44      28  ...        0  1.791759     1936      784
4     5.30    12      7       2  ...        0  1.667707       49        4
..     ...   ...    ...     ...  ...      ...       ...      ...      ...
521  15.00    16     14       2  ...        0  2.708050      196        4
522   2.27    10      2       0  ...        0  0.819780        4        0
523   4.67    15     13      18  ...        0  1.541159      169      324
524  11.56    16      5       1  ...        0  2.447551       25        1
525   3.50    14      5       4  ...        0  1.252763       25       16

[526 rows x 24 columns]

In [170]:
class estadisticas:
  def __init__(self,x): 
    self.x= x
  def mean(self):
    return sum(self.x)/len(self.x)
  def var(self):
    media=sum(self.x)/len(self.x)
    return sum((i-media)**2 for i in self.x)/(len(self.x)-1)
  def std(self):
    return (self.var()**(0.5))
  def coef_var (self):
    return self.std()/self.mean()
  def median(self):
    half = len(self.x)//2
    if not len(self.x) % 2:
      return (self.x[half - 1]+self.x[half]) / 2.0
    return self.x[half]

In [171]:
est = estadisticas(x)

In [172]:
for i in ["wage","educ"]:
  est = estadisticas(x[i])
  print(f'La media de {i} es:')
  print(est.mean())
  print(f'La varianza de {i} es:')
  print(est.var())
  print(f'La desviación estandar de {i} es:')
  print(est.std())
  print(f'El coeficiente de variación de {i} es:')
  print(est.coef_var())
  print(f'La mediana de {i} es:')
  print(est.median())

La media de wage es:
5.896102674787035
La varianza de wage es:
13.638884363775011
La desviación estandar de wage es:
3.693086021713414
El coeficiente de variación de wage es:
0.6263605343078268
La mediana de wage es:
3.274999976158142
La media de educ es:
12.562737642585551
La varianza de educ es:
7.667485062466044
La desviación estandar de educ es:
2.7690224019436975
El coeficiente de variación de educ es:
0.22041552412566356
La mediana de educ es:
12.0

In [173]:
est.x

0      11
1      12
2      11
3       8
4      12
       ..
521    16
522    10
523    15
524    16
525    14
Name: educ, Length: 526, dtype: int64

In [174]:
import statistics as st

In [175]:
est = estadisticas(x['educ'])

In [176]:
assert est.mean()==st.mean(x['educ']), 'no funciona la media'
assert est.var()==st.variance(x['educ']), 'no funciona la varianza'
assert est.std()==st.stdev(x['educ']), 'no funciona la desviación'
assert est.median()==st.median(x['educ']), 'no funciona la mediana'

AssertionError: ignored

In [177]:
st.variance(x['educ'])

7.667485062466051

In [178]:
est.var()

7.667485062466044

In [163]:
st.stdev(x['educ'])

2.769022401943699

In [164]:
est.std()

2.766388999158773